/* Inicio de estilos de footer */
footer{
    font-size: var(--font-normal);
    color: var(--light-bg-color-solid) ;
    font-family: var(--primary-font);
    background-color: var( --gray-color-solid);
    padding: var(--spacing-18);
}

/* Párrafo copyright */
.footer__info{
    padding: 7px;
    text-align: center;

    
}
.footer__line{
    border:2px;
    border-top-style: ridge ;
    border-bottom-color: var(--primary-color-solid);
}


/* Estilos de redes sociales en footer */
.redes__lista{
    padding: 12px;
    font-size:var(--font-xlarge);
    display: flex;
    justify-content: space-around;
}

.wsp_float{
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 60px;
    bottom: 80px;
    right: 10px;
    font-size: var(--font-wspico);
    border-radius: 52px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 1000;
 }

 .ig_float{
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 60px;
    bottom: 150px;
    right: 10px;
    font-size: var(--font-wspico);
    border-radius: 52px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 1000;
 }