.banner__1 {
   /* padding: 100px; */
   text-align: center;
}
.title_alojamiento{
   padding: 10px;
   font-size: 2rem;
}
.banner__img {
   border-radius: 15px;
   background-size: cover;
   width: 100%;
   height: 100%;
   /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6); */
}

.banner__img1 {
   border-radius: 15px;
   /* background-size: cover; */
   width: min-content;
   height: 250px;
}
.iconify_chevron {
   color: var(--dark-color-solid);
   font-size: var(--font-small);
   font-weight: 700;
}

.glide__bullets:hover {
   color: var(--primary-color-900);
}

.detalle_departamento{
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   padding: 10px;
   justify-content: center;
}

/* .banner_departamentos{
   width: 50%;
} */

.glider1{
   margin-bottom: 10px;
   overflow: hidden;
}

.glider-next,
.glider-prev{
   font-size: 3em;
}

.carousel{
   width: 40%;
}

.glider_text{
   font-family: var(--terciary-font);
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   /* align-items: center; */
   width: 50%;
   padding: 10px 20px;
}

.glider_text h3{
   font-size: var(--font-msmall);
   font-weight: 520;
}
.glider_text h2{
   font-size: var(--font-msmall);
   
}
.glider-slide{
   margin-top: 15px;
}

.glider-dots{
   flex-wrap: nowrap;
}

.wsp_reserva:hover .icon_reserva{
   transform: scale(1.4);
}

.link_protocolo{
   padding: 10px;
   text-align: center;
   font-size: var(--font-xsmall);
   color: var(--primary-color-solid);
   font-weight: 600;
}

.detalle_subsidio{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   padding: 25px;
}

.detalle_subsidio h3, li{
   font-family: var(--terciary-font);
   font-size: var(--font-small);
   font-weight: 520;
}

.detalle_subsidio h2{
   font-size: var(--font-msmall);
}
.linea {
   position: relative;
   z-index: 1;
 }
.linea:before {
   border-top: 5px solid var(--primary-color-solid);
   content: "";
   margin: 0 auto;
   position: absolute;
   top: 50%;
   left: 0;
   right: 0;
   bottom: 0;
   width: 95%;
   z-index: -1;
 }
.linea span {
 
   background: #fff;
   padding: 0 15px;
 }