/* Estilos del body del Home */
.img_principal{
    background-image: url(../../img/equipo.jpg);
    /* padding: var(--spacing-128); */
    height: 50vh;
    background-size:cover;
    /* background-attachment: fixed; */
    /* filter: blur(2px) brightness(.9); */
}

.home{
    height: 100vh;
}


.wsp_float{
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 60px;
    bottom: 30px;
    right: 30px;
    font-size: var(--font-wspico);
    border-radius: 52px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
}