.sinstitucional {
    padding: 20px 10px;
    display: grid;
    /* width: 100%; */
    grid-template-areas:
        "aside_l articlec"
        "aside_l articlec"
        "aside_l articlec"
        "aside_l articlec"
        "aside_l articlec"
        "aside_l articlec"
        "aside_l articlec";
    grid-template-columns: minmax(220px, 100px) 1fr;
    grid-gap: 20px;
    grid-auto-rows: auto;
}

.article_contenido_grid {
    font-size: var(--font-normal);
    font-family: var(--alternative-font);
    margin-top: 10px;
    display: grid;
    grid-template-columns: 50px 1fr 50px 1fr;
    grid-gap: 10px;
}

.article_sede {
    margin: 0 auto;
    font-size: var(--font-normal);
    font-family: var(--alternative-font);
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    max-width: 1024px;
}

.article-box7{
    display: grid;
}

.article-img_1 {
    max-width: 400px;
}

.article-img_2,
.article-img_3 {
    max-width: 500px;
}

.article-iframe {
    width: 100%;
}

.icono_objetivo {
    font-size: 5rem;
}

.article-funcion {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 10px;
}

.article-afiliacion{

    margin-top: 10px;
    /* align-self: center;
    justify-self: center; */
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
}
.article-parrafos{
    align-self: center;
    background-color:bisque;
    border-radius: 10px;
    padding: 5px;
    /* margin: 0 auto; */
    /* align-items: center; */
}

.box {
    font-family: var(--alternative-font);
    font-size: var(--font-small);
    font-weight: 500;
    text-align: justify;
    align-items: center;
    margin-top: 10px;
    box-shadow: 4px 4px 4px var(--dark-color-500);
    padding: 10px;
    border-radius: 10px;
}

.box-background_secondary{
    background-color: var(--secondary-color-700);
}

.box-background_primary{
    background-color: var(--primary-color-700);
}

.box-background_terciary{
    background-color: var(--terciary-color-solid);
}
.box-1{
    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}
.box-2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}
.box-3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}
.box-4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}
.box-5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.box-6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.box-7{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.box-8{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}
.box-9{
    margin: 0 auto;
    align-self: center;
    justify-self: center;   
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
}

.box-img{
    max-width: 400px;
}
.box-title{
    margin-bottom: 10px;
}
.aside_left {
    font-size: var(--font-normal);
    font-family: var(--alternative-font);
    margin-left: 10px;
    grid-area: aside_l;
    max-width: 250px;
}

/* .aside_right {
    grid-area: aside_r;
} */

.article_title {
    font-family: var(--primary-font);
    font-size: var(--font-inter);
}

.article_contenido {
    font-weight: 500;
    text-align: justify;
    margin-top: 10px;
    box-shadow: 4px 4px 4px var(--dark-color-500);
    /* border-style: ridge; */
    padding: 20px;
    min-height: 200px;
    height: max-content;
    border-radius: 10px;
    background-color: var(--secondary-color-700);
}

.article_texto {
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
}

@media screen and (max-width: 768px) {
    .sinstitucional {
        font-size: var(--font-xnormal);
        grid-template-areas:
            "articlec";
        grid-template-columns: 1fr;
    }

    .article_contenido_grid {
        display: grid;
        grid-template-columns: 20px 1fr;
    }

    .icono_objetivo {
        font-size: 20px;

    }

    .article-iframe {
        max-width: 100%;
    }
}

@media screen and (max-width: 390px) {
    .article_sede {
        grid-template-columns: 1fr 1fr;
    }

    .article-iframe {
        max-width: 100%;
        max-height: 200px;
    }
}